__HDP_NAMENODE__=__DCAE_CDAP_NODE0__
__HDP_HBASE_MASTER__=__DCAE_CDAP_NODE1__
__HDP_APP_TIMELINE_SERVER__=__DCAE_CDAP_NODE1__
__HDP_HISTORYSERVER__=__DCAE_CDAP_NODE1__
__HDP_RESOURCEMANAGER__=__DCAE_CDAP_NODE1__
__HDP_SECONDARY_NAMENODE__=__DCAE_CDAP_NODE1__
__HDP_ZOOKEEPER_HOSTS_WITH_PORT__=__DCAE_CDAP_NODE0__:2181,__DCAE_CDAP_NODE1__:2181,__DCAE_CDAP_NODE2__:2181
__HDP_ZOOKEEPER_QUORUM__=__DCAE_CDAP_NODE0__,__DCAE_CDAP_NODE1__,__DCAE_CDAP_NODE2__:2181
__HDP_ZOOKEEPER_HOSTS__=__DCAE_CDAP_NODE0__,__DCAE_CDAP_NODE1__,__DCAE_CDAP_NODE2__
__CDAP_ROUTER_HOST__=__DCAE_CDAP_NODE2__
__CDAP_KAFKA_HOST__=__DCAE_CDAP_NODE2__
